{% extends 'Assets-HTML/Footer.html' %}
{% block content %}
<!DOCTYPE html>
<html>

    <head>
        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile</title>
        <link rel="stylesheet" href="{% static 'Styles/Profile.css'%}">
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <script src="{% static 'Scripts/Profile.js' %}" defer></script>
        <script src="{% static 'Scripts/ShowBookDetails.js' %}" defer></script>
        <script src="{% static 'Script/BD.js' %}" defer></script>
    </head>

    <body>
        <div class="wraper">
            <div class="userInfo">
                <div class="userImage">
                    <img src="{% static 'Imgs/user-profile.png'%}" alt="" class="profileImage">
                </div>
                <div class="about">
                    <span id="usernameText">Username: {{ user.username }}</span>
                    <span id="emailText">Email: {{ user.email }}</span>
                    <span id="roleText">Admin: {{ user.is_staff }}</span>
                    <span id="passwordText">Password: ************* </span>
                </div>
                <div class="buttons">
                    <button id="editProfileButton">Edit User Profile</button>
                    <button><a href="{%url 'authentication:Logout'%}">Logout</a></button>
                </div>
            </div>
        
            <div class="dashboard">

                <div class="title">
                    <ion-icon name="speedometer-outline"></ion-icon>
                    <h2>Dashboard</h2>
                </div>

                <div class="boxes" id="boxesContainer">
                    <div class="box box1">
                        <ion-icon name="book-outline"></ion-icon>
                        <span class="text">Borrowed Books</span>
                        <span class="number" id="borrowNum">{{ borrowed_books_count }}</span>
                    </div>
                    <div class="box box2">
                        <ion-icon name="library-outline"></ion-icon>
                        <span class="text" >Read Books</span>
                        <span class="number" id="readNum">0</span>
                    </div>
                    <div class="box box3">
                        <ion-icon name="bulb-outline"></ion-icon>
                        <span class="text">Reward Points</span>
                        <span class="number" id="rewardPoints">0</span>
                    </div>
                </div>

                <div class="activity" id="borrowedContainer">
                    <div class="title">
                        <ion-icon name="book-outline"></ion-icon>
                        <h2 class="text">Borrowed Books</h2>
                    </div>
                    <hr>
                    <div class="borrowed-books">
                        {% for book in borrowed_books %}
                            <div class="bookCover">
                                <a href="{% url 'page:Book_Details' book.book.id %}"><img src="{{ book.book.cover.url }}" width="180px" height="230px" name="{{book.book.title}}"  author = "{{book.book.author}}" category = "{{book.book.category}}" section = "{{book.book.section}}" description = "{{book.book.description}}" availability = "{{book.book.available}}" price = "{{book.book.price}}"></a>
                                <h3 class="book-name">{{book.book.title}}</h3>
                                <p class="book-author">{{book.book.author}}</p>
                            </div>

                        {% empty %}
                            <p class="detailsPtag">Borrow Some Books First Lad.</p>
                        {% endfor %}
                    </div>
                    <hr>
                </div>
                <div class="activity" id="lastContainer">
                    <div class="title">
                        <ion-icon name="time-outline"></ion-icon>
                        <h2 class="text">Last Seen</h2>
                    </div>
                </div>  
            </div>
        </div>
    </body>
</html>
{% endblock %}