{% extends 'Assets-HTML/Footer.html'%}
{% block content%}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
        <title>Library</title>
        <link rel="stylesheet" href="{% static 'Styles/AllBooks.css'%}">
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" rel="stylesheet">
    </head>
    <body>
        <div class="search-wrapper">
            <div class="search-bar">
            <input type="text" id="search-input" placeholder="Search Names, Categories, Authors...">
            </div>
            <div class="filter-options">
                <label>
                    <input type="checkbox" id="available-only-checkbox">
                    Show Available Only
                </label>
            </div>
        </div> 
        
        <div class="Slider_Content category_sections" id="categories_sliderz_container">
            <button id="prev" class="slider_Button material-symbols-rounded" onclick="initiateswipe()">chevron_left</button>
            <ul class="slider categories">
                {% for category in categories %}
                <li class="category"><a href="#{{ category|slugify }}">{{category}}</a></li>
                {% endfor %}

            </ul>
            <button id="next" class="slider_Button material-symbols-rounded" onclick="initiateswipe()">chevron_right</button>
        </div>
        
        <div id="library-container">
            {% for category in categories %}
            <h2 class="section-header">{{category}}</h2>
            <section class="category-section" id ="{{ category|slugify }}">
                {% for book in books %}
                {% if book.category == category %}
                <div class="book-div Card">
                    <a href="{% url 'page:Book_Details' book.id %}" class="link-class"><img src="{{ book.cover.url }}" width="180px" height="230px" name="{{book.title}}"  author = "{{book.author}}" category = "{{book.category}}" description = "{{book.description}}" availability = "{{book.available}}" price = "{{book.price}}" class="book-image"></a>
                    <h3 class="book-name">{{book.title}}</h3>
                    <p class="book-author">{{book.author}}</p>
                    <p {% if book.available %} class = "available-true" {%else%} class="available-false" {%endif%}>{% if book.available %}Available {% else%} Unavailable {%endif%}</p>
                </div>
                {% endif %}
                {% endfor %}
            </section>
            {% endfor %}
        </div>
        <script src="{% static 'Scripts/ShowBookDetails.js'%}" defer> </script>
        <script src="{% static 'Scripts/Sliderswiper.js'%}" defer></script>
        <script>
            var originalContent = document.getElementById('library-container').innerHTML;
            
            function updatePage(books) {
                books = JSON.parse(books);
                
                var libraryContainer = document.getElementById('library-container');

                const header = document.createElement("h2");
                header.classList.add("section-header");
                
                var section = document.createElement('section');
                section.className = 'category-section';
                libraryContainer.innerHTML = '';

                for (var book of books) {
                    if (book.fields) {
                        
                        var bookDiv = document.createElement('div');
                        bookDiv.className = 'book-div Card';
                        
                        var bookImage = document.createElement('img');
                        bookImage.src = book.fields.cover;
                        bookImage.width = 180;
                        bookImage.height = 230;
                        bookImage.name = book.fields.title;
                        bookImage.setAttribute('author', book.fields.author);
                        bookImage.setAttribute('category', book.fields.category);
                        bookImage.setAttribute('description', book.fields.description);
                        bookImage.setAttribute('availability', book.fields.available);
                        bookImage.setAttribute('price', book.fields.price);                 
                        bookImage.className = 'book-image';

                        // header.textContent = book.fields.category;
                        
                        var bookLink = document.createElement('a');
                        bookLink.href = "/Book_Details/" + book.pk + "/";
                        bookLink.className = 'link-class';
                        bookLink.appendChild(bookImage);
                        bookDiv.appendChild(bookLink);

                        var bookTitle = document.createElement('h3');
                        bookTitle.className = 'book-name';
                        bookTitle.textContent = book.fields.title;
                        bookDiv.appendChild(bookTitle);

                        var bookAuthor = document.createElement('p');
                        bookAuthor.className = 'book-author';
                        bookAuthor.textContent = book.fields.author;
                        bookDiv.appendChild(bookAuthor);

                        var bookAvailability = document.createElement('p');
                        bookAvailability.className = book.fields.available ? 'available-true' : 'available-false';
                        bookAvailability.textContent = book.fields.available ? 'Available' : 'Unavailable';
                        bookDiv.appendChild(bookAvailability);

                        section.appendChild(bookDiv);
                        libraryContainer.appendChild(header);
                        libraryContainer.appendChild(section);
                    }
                }
            }
            
            function scrollToHash() {
                const hash = window.location.hash.substring(1);
                const params = new URLSearchParams(hash);
                const categoryToScroll = params.get("Category");
                setTimeout(() => {
                    const element = document.getElementById(categoryToScroll);
                    if (element) {
                    const elementPosition = element.getBoundingClientRect().top;
                    window.scrollTo({
                        top: elementPosition - 230,
                        behavior: "smooth",
                    });
                    history.replaceState(null, null, " ");
                    }
                }, 150);
            }

            document.addEventListener('DOMContentLoaded', function() {
                const searchInput = document.getElementById('search-input');
                const availableCheckbox = document.getElementById('available-only-checkbox');

                
                function fetchBooks() {
                    const query = searchInput.value.trim();
                    const available = availableCheckbox.checked;
                    if (!available) {
                        document.getElementById('library-container').innerHTML = originalContent;
                        return;
                    }
                    const url = `/Books/avail-search?query=${encodeURIComponent(query)}&available=${available}`;

                    fetch(url)
                        .then(response => response.json())
                        .then(data => {
                            if(data === '[]'){
                                document.getElementById('library-container').innerHTML ='<p class="nobooks">No books found that match your search criteria.</p>';
                            } else {
                                updatePage(data);
                            }
                        })
                        .catch(error => console.error('Error fetching books:', error));
                }

                searchInput.addEventListener('input', fetchBooks);
                availableCheckbox.addEventListener('change', fetchBooks);
                scrollToHash();
            });
        </script>
    </body>
</html>
{% endblock %}