{% extends 'Assets-HTML/Footer.html' %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title>{{book.title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <link rel="stylesheet" href="{% static 'Styles/Bookdetails.css'%}">
        <script src="{% static 'Scripts/BD.js'%}" defer></script> defer></script>
    </head>
    <body>
        <div class="wrap">
            <div class="BookCover">
                <img src="" id="image">
                <button class="borrowButton" id="borrowButton">Borrow</button>
                <button class="readButton" id="readButton"></button>
                <button class="readButton" id="returnButton" type="button">Return</button>
            </div>
            <div class="text-box" id="text-container">
                <h2 id="name" style="display: inline;">{{ book.title }}</h2>
                <h3 id="category" style="display: inline;"> - {{ book.category }}</h3>
                <h4 id="author">{{ book.author }}</h4>
                <p id="description">{{ book.description }}</p>

                <br><br>
                <ion-icon id="ionicon" class="CheckIcon"></ion-icon>
                <span id="availability">{{ book.available }}</span>
                <h3 id="price">{{ book.price }}</h3>

            </div>
            <div class="buttons">
                <button class="btn1" id="editButton" type="button" onclick="editBookForm()">Edit Book</button>
                <button class="btn1" id="delButton" type="button">Delete Book</button>
                <button class="btn1" id="saveButton" type="button">Save</button>
                <button class="btn1" id="cancelButton" type="button">Cancel</button>
            </div>
        </div>

    </body>
</html>
{% endblock %}