body {
  font-family: "Arial", sans-serif;
  background-color: #000000;
  margin: 0;
  padding-top: 80px;
  background: url(../Imgs/elena-kloppenburg-B6FOuNAYpYI-unsplash.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment:fixed;
  
  }
  
  body::after {
    content: "";
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
header {
  color: white;
  text-align: center;
  margin-bottom: -20px;
  padding: 10px 20px;
}

main {
  padding: 20px;
  background: transparent;
  width: 80%;
  margin: 0px auto;
  border-radius: 24px;
}

section {
  margin-bottom: 20px;
}
P {
    color: white;
}
h1 {
  color: aqua;
}
h2 {
  color: white;
}

ul {
  margin-left: 20px;
  color: white;
}

li {
  line-height: 1.6;
  color: white;
}

footer {
  text-align: center;
  padding: 0;
  margin: 0;
  color: white;
  width: 100%;
  a {
    color: aqua;
    text-decoration: none;
  }
}
@media only screen and (max-width: 600px) {
  header h1,
  main h2 {
    font-size: 1.5rem;
  }

  main p,
  footer p {
    font-size: 0.8rem;
  }

  main section {
    padding: 10px;
  }

  header,
  main,
  footer {
    padding: 0 10px;
  }
}
@media only screen and (min-width: 768px) {
  header h1,
  main h2 {
    font-size: 2rem;
  }

  main p,
  footer p {
    font-size: 0.9rem;
  }

  main section {
    padding: 15px;
  }
}
